.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-editing {
  text-align: center;
  margin-top: 12px;
}

.form {
  margin-top: 12px
}

.submit-button {
  margin-top: 40px;
  width:500px
}

.button-spacing {
  display: flex;
  justify-content: center;
}

.component-spacing {
  margin-top: 40px
}

.table-button {
  display: flex;
}

.table-button-size {
  width: 70px
}

.table-edit {
  margin-right: 10px
}

.table-input-form {
  width: 400px
}
